@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-scroll-left {
  animation: scroll-left 60s linear infinite;
}

.marquee-scroll-right {
  animation: scroll-right 60s linear infinite;
}

.marquee-container:hover .marquee-scroll-left,
.marquee-container:hover .marquee-scroll-right {
  animation-play-state: paused;
}
